# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!README.md
!arm_c_code/
!exported_XPR_lts/
!hdl_src/
!hls_src/
!ip/
!scripts/
!prj_hls/
!prj_vivado/
!prj_vitis/
!ReporteAccesoMemoria_0.1.pdf

#Adding ignore rules for Vivado projects


#!prjs_vivado/ exclusions
prj_vivado/*

#!prjs_hls/ exclusions
prj_hls/*

#!prjs_vitis/ exclusions
prj_vitis/*

#!No subir words
*.docx

# keep the empty folders
!**/.keep
